#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=linuxpractise.pis.com

# Root password
rootpw --iscrypted $6$ucaQPqEiO7S6.OKn$e574PWKBr.8yK/tHfbik79OtRVvCG8m/0EZH81ifUSQzoNIkjEeH5RNmEr7dZji3PcuaR60FjY702bykIZyF6/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kathmandu --isUtc --nontp
user --name=bijay --password=$6$rQw4zRsrCicyMnsD$SMMK0h5QzjaCUsEUZxbNMro.svJPlakqX4u85gUwjR2spZ4q5MtxqCganxWrLMnYPrYQEdUaJfOCuPBUFricP. --iscrypted --gecos="BIjay"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
